.custom_input {
    border: 2px solid white;
    transition: border-color 0.3s;
    background: transparent;
    height: 2rem;
    /* width: 50%; */
    border-radius: 10px;
    color: whitesmoke;
    padding: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

}

.custom_input:focus {
    border-color: gray !important;
}

.custom_input::placeholder {
    color: gray;
}